@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap');

/*VARIABLES SETUP*/
$irrigateBackground: darkgreen;
$irrigateFontColor: beige;
$causeListWidth: 1110px;
$causeFontColor: #454545;

.app {
  font-family: 'Muli', sans-serif;
  padding: 0px;
}

.form-input{
  margin: 10px 0px;
}

.Navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: $irrigateBackground;
  color: $irrigateFontColor;
}
.NavbarLeftCorner{
  display: flex;
  margin: 0 0 0 10px;
  letter-spacing: 4px;
}
.NavbarLogo{
  width: 55px;
  height: 55px;
  margin: auto 10px;
}

.HomeDescription{
  width: 100%;
  height: 300px;
  display: flex;
  background: burlywood;
  color: darkgreen;
  font-size: larger;
  border-bottom: 12px solid lightgrey;
}
.HomeDescriptionContainer{
  width: 80%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}
.displayFormAddCauseButton{
  position: absolute;
  left: 80%;
  top: 60%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
  background-color: $irrigateBackground;
  color: $irrigateFontColor;
  border: 1px solid $irrigateBackground;
  border-radius: 15px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
}
.displayFormAddCauseButton:hover{
  background-color: $irrigateFontColor;
  color: $irrigateBackground;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.FormAddCause{
  position: absolute;
  background: white;
  width: 700px;
  height: 700px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  border: 1px solid $irrigateBackground;
  border-radius: 15px;
  z-index: 9999;
}
.FormAddCauseTitle_Close{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
}
.FormAddCauseTitle{
  font-size: large;
  font-weight: bold;
  color: $irrigateBackground;
}
.closeFormAddCauseButton{
  background: white;
  color: grey;
  font-size: large;
  font-weight: bold;
  border: none;
  outline: none;
}
.FormAddCauseFields{
  padding: 0 4%;
  width: 92%;
  color: grey;
  font-weight: bold;
}
.FormAddCauseButton{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 200px;
  height: 30px;
  font-weight: bold;
  background-color: $irrigateBackground;
  color: $irrigateFontColor;
  border: 1px solid $irrigateBackground;
  border-radius: 15px;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
}
.FormAddCauseButtonFileLabel{
  cursor: pointer;
  width: 267px;
  height: 30px;
  background: darkgreen;
  padding: 5px 30px 8px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
}
.FormAddCauseButtonFile{
  display: none;
}


.irrigateCausesList{
  width: 100%;
  background: white;
  padding: 20px 0;
  color: $causeFontColor;
}
.causesListFilterContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $causeListWidth;
  margin: auto;
  font-weight: bold;
  border-bottom: 1px solid grey;
}
.causesListFilterName:hover{
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.causesListContainer{
  width: $causeListWidth;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.causeDisplay{
  width: 30%;
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  background: white;
}
.causeLogo{
  width: 100%;
}

.Footer{
  width: 100%;
  background: $irrigateBackground;
  color: $irrigateFontColor;
  font-size: larger;
}
.FooterContainer{
  display: flex;
  height: 80px;
}
.FooterDescription{
  font-weight: bolder;
  margin: auto auto;
  display: flex;
}